{% extends 'base.html' %}

{% block title %}Login{% endblock title %}

{% block content %}
    <h1>Te has deslogueado</h2>
    <form action="{% url "login_page" %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark login-button">Log in</button>
    </form>
    <form action="{% url "index_page" %}" method="POST">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark login-button">Pagina Principal</button>
    </form>
{% endblock content %}